
.header__menu-thumb{
    display: flex;
}
// .contacts-header__link {
//     color: var(--gray-text);
// }
.page-header{
    border-bottom: 1px solid #ECECEC;
    @media screen and (max-width: $mobile-max){
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background-color: var(--white);
    }

}
.header__social-list{
    display: none;
}
.header__menu-button{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
    background: transparent;
    border: none;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.header__menu-button:hover .header__menu-svg, .header__menu-button:focus .header__menu-svg{
    fill: var(--blue-hover);
    transition: var(--hover-time);
}
.nav__link-current {
    color: var(--blue );
}
.nav__link:hover, .nav__link:focus{
    color: var(--blue-hover);
}

.header__links-block{
    display: flex;
    background-color: var(--white);
    @media screen and (max-width: $mobile-max){
    position: relative;
    }
}

.header__menu-button .close-menu{
    display: none;

}
.header__menu-button.is-open .close-menu{
    display: block;

}
.header__menu-button.is-open .open-menu{
    display: none;
}
.contact-svg{
    width: 16px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
}
    
.contacts-header__item{
    display: flex;
}
.contacts-header__link:hover, .contacts-header__link:focus{
    color: var(--blue-hover);
    transition: var(--hover-time);
}
.contacts-header__link:hover .contact-svg, .contacts-header__link:focus .contact-svg{
    fill: var(--blue-hover);
    transition: var(--hover-time);
}

.header__nav{
    margin-bottom: auto;
}
@media screen and (min-width: $tablet-min) {
    .nav__link{
        padding: 32px 0;
        display: flex;
    }
    .nav__link-current{
        position: relative;
        color: var(--blue);
    }
    .nav__link-current::after{
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        background-color: var(--blue-hover);
        border-radius: 2px;
        bottom: 0px;
        
    }

    .header__menu-button {
        display: none;
    }

    .header__menu-thumb.is-open {
        z-index: 0;
        position: fixed;
    }
        .header__menu-thumb{
            width: 100%;
        }
    .nav__list{
        display: flex;
    }
    .nav__link{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
        .nav__item{
        margin-right: 50px;
    }
        .nav__item:last-child{
        margin-right: 0px;
    }
    .header__nav{
        padding-left: 88px;
    }
}
.contacts-header{
@media screen and (min-width: $tablet-min){
    // display: flex;
        display: flow-root;
       margin-left: auto;
       padding: 0;
    }
@media screen and (min-width: $desctop){
    // display: flex;
    align-items: center;
    margin-left: 305px;
    display: -webkit-box;
    display: -moz-box;
   }
}

.contacts-header__item:last-child {
    @media screen and (min-width: $tablet-min) {
    margin-top: 10px;
    }
    @media screen and (min-width: $desctop){
        margin-top: 0;
        margin-left: 30px;
    }
}
.header__menu-thumb.is-open {
    @media screen and (min-width: $tablet-min) {
        position: relative;
    }
}

.contacts-header__link {
    @media screen and (min-width: $tablet-min) {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: var(--gray-text);
    }
    @media screen and (min-width: $desctop) {
        font-size: 14px;
        line-height: 16px;
    }
}