/*general rules*/
:root {
    --blue: #2196F3;
    --blue-hover: #188ce8;
    --portfolio-bg-blue: rgba(33, 150, 243, 0.9);
    --white: #ffffff;
    --black-text: #212121;
    --gray-text: #757575;
    --bg-color: #2F303A;
    --bg-color2: #F5F4FA;
    --footer-addres-color: rgba(255, 255, 255, 0.6);
    --card-set-gap: 30px;
    --hover-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}